

h1 {
    text-align: center;
    color: #42c0fb;
    text-shadow: 0 0 2px black;

    position: absolute; 
    top: 50px; 
    left: 0; 
    width: 100%;
}

.image { 
    position: relative; 
    width: 100%; 
 }

.center {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%;
     height: auto;
     border: 5px solid  #0095b6;
}


 
 

